html{
  background-color: #F6F7FB;
}
h1{

  font-family: Jost;
  font-size: 5rem;
}
.ziph{
  color: #63DDAA;
}

.vertical-align{
    padding-top:10%;
}

.bgcolor{
  background-color: #F6F7FB;
}
.useHow{
  font-size: 2.4rem;
}
p1{
  font-size: 1.5rem;
  font-family: Jost;
}
